body,
dl,
dd,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
input,
textarea,
p,
hr,
thead,
tbody,
tfoot,
th,
td {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  color: #333333;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 62.5%;
}
body {
  font-size: 14px;
  line-height: 1.5em;
  color: #333333;
}
body,
button,
input,
select,
textarea {
  font-family: 'helvetica neue', tahoma, 'hiragino sans gb', stheiti, 'wenquanyi micro hei', \5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;
}
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table th,
table td {
  border: 1px solid #ddd;
  padding: 5px;
}
table th {
  font-weight: inherit;
  border-bottom-width: 2px;
  border-bottom-color: #ccc;
}
img {
  border: 0 none;
  width: auto\9;
  max-width: 100%;
  vertical-align: top;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input {
    line-height: normal!important;
  }
}
select[size],
select[multiple],
select[size][multiple] {
  border: 1px solid #AAA;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video,
progress {
  display: inline-block;
}
body {
  background-color: #05a;
}
a:visited {
  color: #333;
}
.g-doc {
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
  width: 100%;
}
.clearfix:after {
  content: "\20";
  clear: both;
  height: 0;
  display: block;
  overflow: hidden;
}
.clearfix {
  *zoom: 1;
}
/*头部*/
.m-head {
  height: 100px;
  position: relative;
}
.m-head-logo {
  display: block;
  width: 184px;
  height: 90px;
  padding-top: 5px;
  margin-left: 20px;
}
.m-recom-open {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0px;
  top: 0px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkBAMAAACCzIhnAAAAMFBMVEV/f3/Dw8OcnJzs7Oyrq6vc3NyLi4u3t7fPz8////+kpKSDg4P09PSTk5Pj4+MPDw9KFzs9AAAAEHRSTlP///////////////////8A4CNdGQAAAAlwSFlzAAALEwAACxMBAJqcGAAAAdxJREFUWMPt1s9LwlAcAPBpuklieA9q1yDw5lnoD9D/QMFLUZDXMHD/QIwuBRbMjp18YCAyowgRQmK7dLeOXSR1zYluuU3aUtm+L+iQ7cGE9/Tzfny/3z0kNOxGLCt52MYmOQqXjHhewCTyamITk5wFU3uYhImNQ5iEZgd+PKKGOSXTwSLyJMS5JBZpVSZPHYtEy5o29GERMa1pEsl99bvEwhaziEQajsUgXZ+ZG/jGeqUDowIowZ1IorkgaaREQtMe60A+pr85NgfeMmb/zoH0wwsyrqKkA1ESlfnheIBzOn4xMnfikXjtGDGFnvt+GBGcg9yce+WjFZe8qGgmohKfdkslMzNpnHLNvvx96wpddiUzAShGBPcaa1bti5SygLLsXdky1yc7kEq+tJF2FvvmjxZ+i4weraFUGUTkI2vovgYirUNraLwCIoxtM/0QiORsR36nQJcSbZTuy4bxEkcgREF6VTUQsaN3eA5SMPrE56iaD+uREyEFMwhMnsyNMMrr91eCBRDZp6m0fzK58ckUAKQbNOc312rHAOSivh6e5v8UVVs1AGnfGrEyWgPtrwEIQzxbQ68EhDzt2lNxsvU///V5ZAkI4XQNLb7HfkC8vHjEIx7x7jGP/EHyCZmj+WCPcFq/AAAAAElFTkSuQmCC) no-repeat center center;
  -webkit-background-size: 50px;
  -moz-background-size: 50px;
  -o-background-size: 50px;
  background-size: 50px;
  cursor: pointer;
}
.m-nav {
  background-color: #000;
  font-size: 0;
}
@media (-webkit-min-device-pixel-ratio: 0) {
  .m-nav {
    letter-spacing: -5px;
  }
}
.m-nav a {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: initial;
  padding: 0 30px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.m-nav a:hover {
  background-color: #c00;
}
/* 标题栏 */
.m-section {
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  margin: 10px 4%;
}
.m-section-mark {
  display: block;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
}
/* 产品模块A */
.m-goodsA {
  padding: 0 4%;
  overflow: hidden;
  font-size: 0;
}
@media (-webkit-min-device-pixel-ratio: 0) {
  .m-goodsA {
    letter-spacing: -5px;
  }
}
.m-goodsA-item {
  width: 31.3%;
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: initial;
  margin: 10px 1%;
}
.m-goodsA-item:before {
  content: "";
  display: block;
}
.m-goodsA-item:after {
  content: "";
  display: table;
  clear: both;
}
.m-goodsA-pic {
  float: left;
  width: 100px;
  min-height: 1px;
  border: 1px solid #e9e9e9;
  position: relative;
  margin-right: 10px;
}
.m-goodsA-item:first-child .m-goodsA-pic em {
  position: absolute;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAAA2BAMAAACIIvJ2AAAAMFBMVEWQRGvitsysZor68PTWhK3y2+fgqsW0gZz///+cUHfRdKPqxtjalLfMZpmwWIUPDw8O9zKMAAAAEHRSTlP///////////////////8A4CNdGQAAAAlwSFlzAAALEwAACxMBAJqcGAAAAvRJREFUOMudlU1IVFEUgE+bzEXRss2U2xb9MQoyIrOwxUAMGcPIlMj0gzEog65q4UJCx6Ix3myCWkiIJJIOCbMRVCzcSPEQUR/xfMfWLVrIMDakMp1z3s+890ab6C7uve/e7557/t65UKnfwPtZjIfrMUUVNaUO04yIa3WYNDE7npXupJ/JE2N4BRuKlykSgrp7RUUc8MlhZst36KOPoWO4IbO9J8oJTIjWZmR2HoZ5iCKu+5gSKZ2UWROc4aEH9bDfz9k+jMhkEN6JQtHVmlhUjlCT8S6s8FDOr9Qy7dZlpQb5PMBLtUwP4hSP+yDBPST3uJgX0i+Tg3j3F6ybRzzM8yHuA1ZUr8Mb02HrbmYQBiwvUogq9+G06UM3Uwa4ZkWV5Bdz0KjIzR45OfasRJUEHQLAcPniBOJtNzPPHjkQBjvmiWkYBLSZG4/FzHLTa7ZVmp4DbmclpMQU87gtgj5BsvLKZHBXGLSZfTqmmKE+xUpWoQmefGfmN03CpkIwpKLTrv6U4ZuH6bSkO62Pu01m9uw0J+acGzHGHaasWjp3moY4bfuZ9GJ7aQkLSbELrljben9bFFPBKkOJZFx++uAhQKOFTMdGgs3GWCpaZSgDTH+IsR8QU3dUI6unI9ZvKwy5aDdnWdUb7MIIuYku2uxxMWWO9o+3LOZ9ZrE1vdmOegtth8zfDewMlXYTCyrOjm2M6o/IcGPMzZihnCtkeFkPzmUSGfK43ubSmeOKW72tLX3aKC1f+BLsYpMwJvlm5w8pOTWykMadl5zPgYKkI/bnJW8thi7TomSHxirMLKfStrPXqnWML2MhRpbX01N2jkh1tHOVF1lIjOAFdTtkxSTprodsGfukI4RaFrWAyax6aqb8ECTECHa3Osk466urvJEip0zGlmxkUvExnFCRgDt/ZhV/febLKE7VdkupreEkQ7vnEHrvcXV+1JPLiWPfgpIL+Ro+4b1wFJ5OnPimjJuKfI797d0pxhcX4/XfwX95K/+b+QPzVTyg8J+1tQAAAABJRU5ErkJggg==) no-repeat 0 0;
  -webkit-background-size: 35px;
  -moz-background-size: 35px;
  -o-background-size: 35px;
  background-size: 35px;
  top: -8px;
  left: -10px;
  width: 33px;
  height: 25px;
}
.m-goodsA-item:first-child .m-goodsA-pic em:before {
  display: none;
}
.m-goodsA-pic img {
  display: block;
  width: 100%;
}
.m-goodsA-pic em {
  width: 20px;
  height: 24px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
}
.m-goodsA-pic i {
  width: 20px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
}
.m-goodsA-pic em:before {
  content: '';
  width: 0px;
  height: 0px;
  border-width: 18px 10px 6px 10px;
  border-color: #b7b7b7 #b7b7b7 transparent;
  border-style: solid;
  position: absolute;
  top: 0;
  left: 0;
}
.m-goodsA-detail {
  overflow: hidden;
}
.m-goodsA-tit {
  display: block;
  max-height: 50px;
  line-height: 25px;
  font-size: 16px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  position: relative;
}
.m-goodsA-tit .tj {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border: 1px solid #CF6F9E;
  color: #CF6F9E;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: right;
  text-align: center;
  font-size: 14px;
  background: #fff;
  position: absolute;
  right: 0px;
  bottom: 0;
}
.m-goodsA-para {
  display: block;
  color: #c5c5c5;
  font-size: 12px;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.m-goodsA-para i {
  color: #ED7237;
}
/* m-more */
.m-more {
  margin: 10px 4% 20px;
  text-align: center;
  color: #999;
  line-height: 30px;
  height: 50px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.m-more i {
  display: block;
  width: 60px;
  height: 35px;
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: -20px;
  margin-left: -30px;
}
.m-more i:after {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background: #f5f5f5 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAABGBAMAAACDAP+3AAAAMFBMVEV8fHzT09OxsbHz8/OVlZXExMTk5OT///+8vLyEhITc3Nyjo6Ps7OzLy8uMjIwPDw+eljKkAAAAEHRSTlP///////////////////8A4CNdGQAAAAlwSFlzAAALEwAACxMBAJqcGAAAAg1JREFUSMft1k9I21AYAPBudIdcevIiHlZEVgMtFWEwdtENdUZEBXvpKei8eHCFXGXL2O76rA/XNzTsUL3WswpCQVBQCrZQCkJhp711O0jpUmKrphltXpLP5CJ48Z3e4ZfkJd+/+G68l+/R3LdpLn3p7c+XXUz1SCCtVZnN3WWqPZQQZURHyosh2KhpSt7mozf1sz5OOZBBk6WB8Kqxq80j5StkLgUitvdaliTLgImhsHmptsC9kR2mJmyx71L7jEWHKZCM5aMskVG7aQhr1g9XLeGEzSyj57YIvORCNrPyzB6lRvCXbDEaPXSEsuBPWIxEEg6jkZDFfEg5U6Ia/G0x/CaQN4tJmTENGgLMoD/HmCZKAOYyIDLmCg8BpkHfMeZTEkzk4B/GnGyBZuYvY7q/g+bHT8bEN0EzUGEMvw4aHrPmmxNcExRQ9BqZdjFXnFFrJOryrDo1CC67nTlumInOu68BRmoRpdg2iykoFLu6ScmdWGAZQGn91GEzpiQHmCYlOGPmhlnG7Cq1Tmzm2CRkJFw0jco/gYxakdmcx979UEKip/lHNzyNymPv3ruMop5GE5569/CY7UYRoB9+FPxsHb4eHnMatUCYAqrHyR7Ye9FEp2OmuWQG7uFo/JWxy8c4uIcbswBHdk7nzgV9YMh3zJSu/2nuMlN0dDzlNZv09X67d7//Qnz8B3gIcws3XOp1QAr9QgAAAABJRU5ErkJggg==) no-repeat;
  margin: 0px auto;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: anim4 0.5s linear infinite;
  -moz-animation: anim4 0.5s linear infinite;
  -ms-animation: anim4 0.5s linear infinite;
  animation: anim4 0.5s linear infinite;
}
.m-more span {
  display: block;
  width: 130px;
  height: 35px;
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: -20px;
  margin-left: -65px;
}
/* 模块 */
.m-picTxt {
  overflow: hidden;
  margin: 0px 4%;
  font-size: 0;
}
@media (-webkit-min-device-pixel-ratio: 0) {
  .m-picTxt {
    letter-spacing: -5px;
  }
}
.m-picTxt li {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: initial;
  width: 18%;
  margin: 10px 1%;
}
.m-picTxt-items {
  display: block;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  text-align: center;
  line-height: 25px;
}
.m-picTxt-pic {
  width: 100%;
  overflow: hidden;
}
.m-picTxt-pic img {
  display: block;
  width: 100%;
}
.m-picTxt-tit {
  text-align: left;
  line-height: 30px;
  color: #333;
  display: block;
  white-space: nowrap;
  word-wrap: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #000000;
  color: #fff;
  padding: 0 5px;
}
/* 底部 */
.m-footer {
  line-height: 25px;
  text-align: center;
  margin: 15px 4%;
  color: #aaa;
  font-size: 12px;
}
.m-footer-link {
  font-size: 0;
}
@media (-webkit-min-device-pixel-ratio: 0) {
  .m-footer-link {
    letter-spacing: -5px;
  }
}
.m-footer-link a {
  color: #aaa;
  margin: 0 5px;
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: initial;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.m-footer-link a:visited {
  color: #aaa;
}
.m-footer-link span {
  font-size: 12px;
  margin: 0 2px;
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: initial;
}
.m-footer-cr {
  overflow: hidden;
  width: 500px;
  margin: 0px auto;
}
.m-footer-cr img {
  float: left;
  width: 90px;
  height: 50px;
  margin-right: 10px;
}
.m-footer-cr-txt {
  overflow: hidden;
  text-align: left;
  margin-top: 5px;
}
.m-footer-cr-txt a {
  color: #aaa;
}
.m-footer-cr-txt a:visited {
  color: #aaa;
}
@media (min-width: 320px) and (max-width: 749px) {
  .m-nav a {
    width: 33.3%;
    padding: 0px;
  }
  .m-picTxt li {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: initial;
    width: 98%;
    margin: 10px 1%;
  }
  .m-goodsA-item {
    width: 98%;
  }
  .m-footer {
    text-align: left;
  }
  .m-footer-cr {
    width: 100%;
  }
  .m-footer-cr img {
    float: none;
    width: 90px;
    height: 50px;
    margin: 0;
    display: block;
  }
}
@media (min-width: 750px) and (max-width: 999px) {
  .m-nav a {
    width: 25%;
    padding: 0px;
  }
  .m-picTxt li {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: initial;
    width: 48%;
    margin: 10px 1%;
  }
  .m-goodsA-item {
    width: 48%;
  }
}
/* 动画 */
@-webkit-keyframes anim4 {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(180deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
@-moz-keyframes anim4 {
  from {
    -moz-transform: rotateZ(0deg);
  }
  50% {
    -moz-transform: rotateZ(180deg);
  }
  to {
    -moz-transform: rotateZ(360deg);
  }
}
@-ms-keyframes anim4 {
  from {
    -ms-transform: rotateZ(0deg);
  }
  50% {
    -ms-transform: rotateZ(180deg);
  }
  to {
    -ms-transform: rotateZ(360deg);
  }
}
@-o-keyframes anim4 {
  from {
    -o-transform: rotateZ(0deg);
  }
  50% {
    -o-transform: rotateZ(180deg);
  }
  to {
    -o-transform: rotateZ(360deg);
  }
}
@keyframes anim4 {
  from {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
